extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis beatae neque odio iste quas! Quidem dolorum quae consequatur et, aut id in sit repudiandae minima laborum ullam suscipit harum corrupti.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, unde laboriosam molestias impedit assumenda minus. Molestias cum explicabo, accusantium ex nemo itaque ut nostrum, voluptates distinctio optio, asperiores consectetur. Amet!
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quibusdam animi placeat consectetur architecto, voluptas possimus quasi consequuntur, error quia totam quisquam expedita sequi repellendus deserunt corrupti. Modi, voluptate iste!
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono", class="img-fluid")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam maiores veniam debitis alias itaque dignissimos harum, nisi laborum distinctio?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono", class="img-fluid")
                    h2.mb-4 Mejores Destinos 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam maiores veniam debitis alias itaque dignissimos harum, nisi laborum distinctio?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono", class="img-fluid")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsam maiores veniam debitis alias itaque dignissimos harum, nisi laborum distinctio?